html
{
height: 100%;
}

/* Header */

.header-item
{
    height: 50px;
    width: 100%;
    position: fixed;
    margin-top: -20px;    
    box-shadow: 60px 10px 25px black;
}

.headimg
{
    height: 45px;
    margin-left: 25%;
}

.navbar 
{
    background-color: #da251d;
    padding: .5%;
    padding-right: 2%;
}

.nav-link
{
    color: #ffffff;    
}
.nav-link:hover
{
    color: yellow;
}

i
{
    color: #ffffff;
}

/* Sidebar left */
.sidebarL
{
    height: 130vh;
    width: 16.5%;
    margin-top: 40px;
    background-image:url('./Assets/images/background2_.png');
    background-repeat: no-repeat;background-attachment: fixed; background-size: cover;
    float: left;
    text-align: center;
}

.sblcon
{
    margin-top: 20px;
}

.btn.btn.btn-primary
{
    width: 90%;    
}
.btn.btn.btn-secondary
{
    width: 90%;
    margin-top: 5%;    
}

/* Main content */
.main
{
    height: 130vh;
    width: 67%;
    margin-top: 40px;
    background-color: #da251d;
    color: #ffffff;
    float: left;
    text-align: center;
}
.maincon
{
    margin-top: 20px;
}
.menuconrow
{
    height: 110vh;
    width: 67vw;
    margin-top: -7px;
    background-color: whitesmoke;
    padding: 3%;
    color: #da251d;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 15px black;
    /* float: right; */
}

.menucat
{
    margin-left: 5%;
    font-size: 50px;
}

/* Sidebar right */
.sidebarR
{
    height: 130vh;
    width: 16.5%;
    margin-top: 40px;
    background-image:url('./Assets/images/background2_.png');
    background-repeat: no-repeat;background-attachment: fixed; background-size: cover;
    float: left;
    color: #da251d;
    /* text-align: center; */
}

.sidebarR:hover
{
    background-color: darkgray;
}

.sbrcon
{
    margin-top: 20px;
}



.redline
{
    border: 5px solid #da251d;    
    width: 15.5vw;
    height: 10px;
    margin-left: 35%;
    margin-top: 15px;
}

.food
{
    color: #ffffff;
    background-color: #da251d;
    width: 95%;
    margin-top: 5%;
    border-radius: 10px;
    margin-left: 3%;  
    box-shadow: 5px 8px 15px black;
}

.food:hover
{
    background-color: darkgray;
}

.sbrfdimg
{
    height: 70px;
    width: 70px;
    margin-left: 10%;
}

/* Footer */
.footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding-top: 1%;
}

/* location check */
.rating-card {
    border-radius: 20px;
    margin-left: 30px;
    color: #f88b25;
    background-color: #070707;
    font-size: 16px;
    width: auto;
    padding: 0.4vh 0.7vw;
    margin: 1.5vh 0 0 1vw;
}

.item-in-cart {
    border-radius: 20px;
    margin-right: -20px;
    color: #f88b25;
    background-color: #da251d;
    font-size: 16px;
    width: auto;
    padding: 0.4vh 0.7vw;
    margin: 1.5vh 0 0 1vw;
    display: flex;
    flex-wrap: wrap;
}
.card-header-row {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

/* .card-food-item-card-col-md-3
{
    display: flex;
    flex-wrap: wrap;


} */

.btn-primary
{
    background-color: #da251d;
}